<div class="container-fluid  text-white text-center bg-color">
    <div class="row py-5">
        <div class="col-md-4">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
            <h3>AROUND THE WEB</h3>
            <ul class="d-flex justify-content-center gap-2">
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                </div>
                <div class="icon">
                    <i class="fa-brands fa-twitter"></i>
                </div>
                <div class="icon">
                    <i class="fa-brands fa-linkedin-in"></i>
                </div>
                <div class="icon">
                    <i class="fa-solid fa-globe"></i>
                </div>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>ABOUT FREELANCER</h3>
            <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
<p class="m-0 py-3 text-center text-white bg-copy-right">Copyright © Your Website 2021 </p>