<div class="min-vh-100 pt-5 d-flex justify-content-center align-items-center">
    <div class="container text-center ">
        <div class=" row  py-4 ">
            <h2 class="fw-bolder">PORTFOLIO COMPONENT</h2>
            <div class="home-icon  d-flex justify-content-center align-items-center">
                <div class="bg-black line">
                </div>
                <i class="fa-solid fa-star mx-4"></i>
                <div class="bg-black line">
                </div>
            </div>
            <div class="col-md-4  g-5 ">
                <div   class="position-relative overflow-hidden port-img">
                    <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                    <div
                      (click)="showImg($event)"  class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4  g-5  ">
                <div   class="position-relative overflow-hidden port-img">
                    <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                    <div
                      (click)="showImg($event)"  class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4  g-5  ">
                <div   class="position-relative overflow-hidden port-img">
                    <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                    <div
                      (click)="showImg($event)"  class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4  g-5 ">
                <div   class="position-relative overflow-hidden port-img">
                    <img src="assets/images/poert1.png" class="w-100 rounded-3" alt="">
                    <div
                      (click)="showImg($event)"  class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4  g-5 ">
                <div  class="position-relative overflow-hidden port-img">
                    <img src="assets/images/port2.png" class="w-100 rounded-3" alt="">
                    <div
                    (click)="showImg($event)"   class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div class="col-md-4  g-5  ">
                <div    class="overflow-hidden position-relative port-img">
                    <img src="assets/images/port3.png" class="w-100 rounded-3" alt="">
                    <div
                    (click)="showImg($event)" class="layer position-absolute top-0 start-0 end-0 bottom-0 d-flex justify-content-center align-items-center bg-main rounded-3">
                        <i class="fa-solid fa-plus fa-6x text-white"></i>
                    </div>
                </div>
            </div>
            <div  class="model position-fixed start-0 w-100 top-0 h-100 bg-primary bg-opacity-25 d-none justify-content-center align-items-center">
                <img src="assets/images/port3.png" class="w-50 rounded-3" alt="">

            </div>
        </div>

    </div>
</div>