<div class="container-fluid text-white py-5 text-center bg-main ">
    <img src="../../assets/images/happy-boy.jpg"
        class="w-25 rounded-circle mt-5 " alt="">
    <h1 class="my-4">START FRAMEWORK</h1>
    <div class="home-icon d-flex justify-content-center align-items-center">
        <div class="bg-white line">
        </div>
        <i class="fa-solid fa-star mx-4"></i>
        <div class="bg-white line">
        </div>
    </div>
    <p class="py-3 m-0">Graphic Artist - Web Designer - Illustrator</p>
</div>